/__pycache__/
/.vscode/
/JavaExtractor/JPredict/.idea/
/JavaExtractor/JPredict/JavaExtractor.iml


!dataset/

dataset/*
!/dataset/pre
!/dataset/pre/*/

dataset/pre/*/*
!dataset/pre/*/commits

dataset/pre/*/commits/*
!dataset/pre/*/commits/all.csv
